# SERVER CONFIGURATION
NODE_ENV=
PORT=
API_URL=

# DATABASE CONFIGURATION
MONGO_URI=

# AUTHENTICATION & SECURITY
JWT_SECRET=
ADMIN_PASSWORD=

# IMAGEKIT (MEDIA STORAGE)
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

# EMAIL SERVICE (SMTP)
EMAIL_HOST=
EMAIL_PASSWORD=